{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <section class="col-12 col-md-10 offset-md-1 offset-lg-0 col-lg-5 text-center">
            <div class="row">
                <div class="col wax-crate-grey-font wax-crate-navy-bg">
                    <h1 class="major-mono text-lowercase mt-2">Your Cart</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                    {% if records_in_cart %}
                    <div class="cart-items-container mt-3">
                        {% for record in records_in_cart %}
                        <div class="card cart-card rounded-0 mb-1">
                            <div class="row g-0">
                                <div class="card-grid-parent">
                                    <!-- IMAGE GRID CONTAINER -->
                                    <div class="cart-image-grid-container align-items-center d-flex">
                                        <img class="img-fluid rounded-0 my-auto" src="{{ record.record.image.url }}"
                                            alt="{{ record.title }}">
                                    </div>
                                    <!-- RECORD INFO GRID CONTAINER -->
                                    <div class="record-info-grid-container text-start">
                                        <h6 class="roboto-mono-font ms-2">{{ record.record.title }}</h6>
                                        <p class="roboto-mono-font mb-0 ms-2 cart-card-artist-info">{{ record.record.artist }}</p>
                                        <p class="roboto-mono-font mb-0 ms-2 cart-card-qty-info">
                                            <small class="text-muted">Quantity: {{ record.quantity }}</small>
                                        </p>
                                        <p class="roboto-mono-font mb-0 ms-2 cart-card-price-info">
                                            <small class="text-muted">Price: £{{ record.record.price }}</small>
                                        </p>
                                    </div>
                                    <!-- UPDATE CART FORM GRID CONTAINER -->
                                    <div class="update-cart-grid-column update-cart-grid-parent">
                                        <form action="" class="edit-qty-remove-form" method="post"></form>
                                            <!-- ROW 1 OF UPDATE CART -->
                                            <div class="update-cart-grid-row-1 d-flex align-items-center justify-content-center">
                                                <form action="" method="post">
                                                    {% csrf_token %}
                                                        <div class="input-group input-group-cart d-flex">
                                                            <div class="input-group-prepend">
                                                                <button class="reduce-qty btn btn-sm rounded-0 dark-cta-button" data-record_id="{{ record.record_id }}" id="decrease-qty-{{ record.record_id }}">
                                                                    <i class="fa-solid fa-square-caret-down"></i>
                                                                </button>
                                                            </div>
                                                            <input class="qty-control qty-control-cart d-inline roboto-mono-font text-center" type="number" name="quantity" value="{{ record.quantity }}" min="1" max="10" data-record_id="{{ record.record_id }}" id="id_qty_{{ record.record_id }}">
                                                            <div class="input-group-append">
                                                                <button class="increase-qty btn btn-sm rounded-0 dark-cta-button" data-record_id="{{ record.record_id }}" id="increase-qty-{{ record.record_id }}">
                                                                    <i class="fa-solid fa-square-caret-up"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="align-items-end">
                                                            <button type="submit" class="hvr-grow-shadow roboto-mono-font btn btn-sm rounded-0 add-cart-btn add-cart-btn-larger"><i
                                                                class="fas fa-cart-shopping"></i> Add to cart</button>
                                                        </div> -->
                                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                            </div>
                                        </form>
                                        <!-- ROW 2 OF UPDATE CART -->
                                        <div class="update-cart-grid-row-2 d-flex align-items-center justify-content-center">
                                            <div class="d-flex-justify-content-between align-items-center">
                                                <a href="" class="edit-qty-button btn btn-sm dark-cta-button rounded-0">
                                                    <div><i class="fa-solid fa-pen-to-square fa-xl"></i></div>
                                                    Update
                                                </a>
                                                <a href="" id="remove_{{ record.record_id }}" class="delete-from-bag-button btn btn-sm dark-cta-button rounded-0">
                                                    <div><i class="fa-solid fa-trash-can fa-xl"></i></div>
                                                    Remove
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div>
                        <h3 class="roboto-mono-font">You have nothing in your cart!</h3>
                        <a href="{% url 'records' %}"
                            class="dark-cta-button btn btn-large rounded-0 mt-4 roboto-mono-font hvr-grow-shadow"><i
                                class="fa-solid fa-compact-disc"></i> Back to the shop</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- TOTAL, DELIVERY, CHECKOUT AND BACK TO SHOP ROW -->
            {% if records_in_cart %}
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1 text-start">
                    {% if free_delivery_difference > 0 %}
                        <small class="roboto-mono-font text-muted">Get free delivery by spending 
                            <span class="roboto-bold">£ {{ free_delivery_difference }}</span> more!
                        </small>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1 text-start">
                    <!-- COSTING CONTAINER -->
                        <h6 class="roboto-mono-font mt-1">Purchase Total: £ {{ total|floatformat:2 }}</h6>
                        <h6 class="roboto-mono-font">Delivery: £ {{ delivery_charge|floatformat:2 }}</h6>
                    <!-- NEXT STEPS BUTTON CONTAINER -->
                    <div class="next-step-button-continer">
                        <a href="{% url 'records' %}"
                            class="roboto-mono-font mt-2 btn alt-cta-button rounded-0 hvr-float text-decoration-none wax-crate-navy-font"><i
                                class="fa-solid fa-compact-disc"></i> Back to shop
                            </a>
                        <a href="" class="dark-cta-button btn rounded-0 mt-2 roboto-mono-font hvr-grow-shadow">
                            <i class="fa-solid fa-credit-card"></i> Checkout
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
        </section>
        <!-- HERO IMAGE - DISPLAYS ON LARGER SCREENS ONLY -->
        <div class="d-none d-md-none d-lg-block col-lg-7 remove-padding">
            <div class="cart-hero-image">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postload_js %}
    {{ block.super }}
    {% include 'records/includes/qty-input-script.html' %}
    <script type="text/javascript">
        // Update the quantity on the cart line when edit button is clicked.
        $('.edit-qty-button').click(function(e) {
            let cartQtyForm = $(this).prev('.edit-qty-remove-form');
            form.submit();
        });

        // Removes the record from the cart when remove button is clicked.
        $('.delete-from-bag-button').click(function(e) {
            let csrfToken = "{{ csrf_token }}"
            let recordId = $(this).attr('id').split('remove_')[1];
            let url =`/cart/remove/${recordId}`;
            let data ={'csrfmiddlewaretoken': csrfToken};
            $.post(url, data)
            .done(function() {
                 location.reload();
             })
        });
    </script>   
{% endblock %}