{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <section class="col-12 col-md-10 offset-md-1 offset-lg-0 col-lg-5 text-center">
            <div class="row">
                <div class="col">
                    <h1 class="major-mono text-lowercase mt-2">Your Cart</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 ">
                    {% if cart_items %}
                        <div class="cart-items-container">
                    
                        </div>
                    {% else %}
                        <div>
                            <h3 class="roboto-mono-font">You have nothing in your cart!</h3>
                            <a href="{% url 'records' %}" class="dark-cta-button btn btn-large rounded-0 mt-4 roboto-mono-font hvr-grow-shadow"><i class="fa-solid fa-compact-disc"></i> Back to the shop</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
        <div class="d-none d-md-none d-lg-block col-lg-7 remove-padding">
            <div class="cart-hero-image">
            </div>
        </div>
    </div>
</div>
{% endblock %}