{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-8 remove-padding">
            <div class="home-hero-image">
                <div class="mobile-company-info d-block d-lg-none">
                    <h3 class="major-mono text-lowercase">Welcome to Wax Crate!</h3>
                    <p class="roboto-mono-font">We're an independent <strong>online vinyl record shop</strong>
                        based in the Northwest of England. We specialise in house, techno and hip-hop records, but we have
                        lots of different musical genres available. So whether your new to vinyl records or a crate digging
                        extraordinaire, a DJ or music lover, or if your just looking for a special gift for someone who
                        loves music, you've come to the right place.</p>
                        <p class="roboto-mono-font"><em>Welcome to the Wax Crate family!</em></p>
                        <a href="{% url 'records' %}" class="alt-cta-button hvr-grow-shadow btn btn-large rounded-0 major-mono">Get digging!</a>
                </div>
            </div>
        </div>
        <section class="col-lg-4 d-none d-lg-block my-auto text-center">
            <div class="company-info">
                <h3 class="major-mono text-lowercase">Welcome to Wax Crate!</h3>
                <p class="roboto-mono-font">We're an independent <strong>online vinyl record shop</strong>
                    based in the Northwest of England. We specialise in house, techno and hip-hop records, but we have
                    lots of different musical genres available. So whether your new to vinyl records or a crate digging
                    extraordinaire, a DJ or music lover, or if your just looking for a special gift for someone who
                    loves music, you've come to the right place.</p>
                    <p class="roboto-mono-font"><em>Welcome to the Wax Crate family!</em></p>
            </div>
            <a href="{% url 'records' %}" class="dark-cta-button hvr-grow-shadow btn btn-large rounded-0 mt-5 major-mono">Get digging!</a>
        </section>
    </div>
</div>
{% endblock %}