{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row">
        <div class="col-12 col-lg-8" style="background-color: blue; color: aliceblue;">PHOTO GOES HERE
        </div>
        <section class="col-lg-4 my-auto">
            <div class="company-info text-center">
                <p>Description about business goes here. For SEO, USE SEMANTIC TAGS AND STRONG TAGS FOR KEYWORDS FROM RESEARCH</p>
            </div>
            <a href="#" class="get-digging-button btn btn-large rounded-0 mt-5">Get digging!</a>
        </section>
    </div>
</div>
{% endblock %}