{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row h-100">
        <!-- IMAGE - DISPLAYS ON LARGER SCREENS ONLY -->
        <div class="d-none d-md-none d-lg-block col-lg-5 remove-padding">
            <div class="checkout-image wax-crate-navy-bg">
            </div>
        </div>
        <section class="col-12 col-md-10 offset-md-1 offset-lg-0 col-lg-7 text-center">
            <div class="row">
                <div class="col wax-crate-grey-font wax-crate-navy-bg">
                    <h1 class="major-mono text-lowercase mt-2">Checkout</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1 text-start">
                    <div class="my-auto">
                        <p class="text-muted roboto-bold mt-3">
                            Please fill out the form below to checkout and finalise your order.
                        </p>
                        <form action="{% url 'checkout' %}" method="POST" id="checkout-form" class="my-auto">
                            {% csrf_token %}
                            <fieldset class="mb-3">
                                <legend class="major-mono text-lowercase">
                                    Your Contact Information
                                </legend>
                                {{ checkout_form.customer_full_name | as_crispy_field }}
                                {{ checkout_form.customer_email | as_crispy_field }}
                            </fieldset>
                            <fieldset class="mt-5 mb-3">
                                <legend class="major-mono text-lowercase">
                                    Your Delivery Details
                                </legend>
                                {{ checkout_form.customer_street_address1 | as_crispy_field }}
                                {{ checkout_form.customer_street_address2  | as_crispy_field }}
                                <div class="d-sm-block d-md-flex justify-content-center">
                                    {{ checkout_form.customer_town_or_city | as_crispy_field }}
                                    {{ checkout_form.customer_postcode | as_crispy_field }}
                                    {{ checkout_form.customer_county | as_crispy_field }}
                                </div>
                            </fieldset>
                            <fieldset class="mt-5 mb-3">
                                <legend class="major-mono text-lowercase">
                                    Your Payment Information
                                </legend>
                                <!-- STRIPE CARD ELEMENT -->
                                <div class="custom-checkout-form" id="card-element">
                                    
                                </div>
                                <!-- STRIPE ERRORS WILL BE DISPLAYED IN THIS DIV -->
                                <div class="" id="card-errors" role="alert">
                                    
                                </div>
                            </fieldset>
                            {% if user.is_authenticated %}
                                <label for="save-info" class="roboto-mono-font">Click this box to save this information to your account:</label>
                                <input type="checkbox" name="save-info" id="save-info" class="form-check-input rounded-0 ms-2">
                            {% else %}
                                <label for="save-info" class="roboto-mono-font">
                                    <a class="roboto-bold wax-crate-navy-font" href="{% url 'account_signup' %}">Register</a> for an account or
                                    <a class="roboto-bold wax-crate-navy-font" href="{% url 'account_login' %}">Sign In</a> to save this information.
                                </label>
                            {% endif %}
                            <p class="roboto-bold mt-3 wax-crate-red-bg wax-crate-grey-font ps-2">You will be charged £{{ order_total|floatformat:2 }} for this order.</p>
                            <div class="d-flex justify-content-end mt-3 mb-3">
                                <a href="{% url 'show_cart' %}"
                                    class="roboto-mono-font mt-2 btn alt-cta-button rounded-0 hvr-float text-decoration-none wax-crate-navy-font">
                                    <i class="fas fa-cart-shopping"></i> Back to cart
                                </a>
                                <button class="dark-cta-button btn rounded-0 mt-2 roboto-mono-font hvr-grow-shadow ms-2">
                                    <i class="fa-solid fa-circle-check"></i> Place Order
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}