{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %}- Checkout{% endblock%}

{% block content %}
<div class="container-fluid">
    <div class="row h-100">
        <!-- IMAGE - DISPLAYS ON LARGER SCREENS ONLY -->
        <div class="d-none d-md-none d-lg-block col-lg-5 remove-padding">
            <div class="checkout-image wax-crate-navy-bg">
                <!-- LARGER SCREEN ORDER SUMMARY ACCORDION -->
                <div class="accordion mb-2 d-md-none d-lg-block" id="orderSummaryAccordion">
                    <div class="accordion-item order-summary-accordion-item">
                        <h2 class="accordion-header" id="orderSummaryAccordionHeader">
                            <button
                                class="accordion-button rounded-0 collapsed roboto-mono-font wax-crate-pink-bg wax-crate-grey-font"
                                type="button" data-bs-toggle="collapse" data-bs-target="#orderSummaryAccordionBody"
                                aria-expanded="false" aria-controls="Collapses and expands the order summary">
                                View your order summary
                            </button>
                        </h2>
                        <div id="orderSummaryAccordionBody" class="accordion-collapse collapse order-summary-accordion"
                            aria-labelledby="headingTwo" data-bs-parent="#orderSummaryAccordionBody">
                            <div class="accordion-body text-left roboto-mono-font mobile-accordion-body-text">
                                {% for record in records_in_cart %}
                                    <div class="card cart-card rounded-0 mb-1">
                                        <div class="row g-0">
                                            <div class="card-grid-parent">
                                                <!-- IMAGE GRID CONTAINER -->
                                                <div class="cart-image-grid-container align-items-center d-flex">
                                                    <img class="img-fluid rounded-0 my-auto" src="{{ record.record.image.url }}"
                                                        alt="{{ record.title }}">
                                                </div>
                                                <!-- RECORD INFO GRID CONTAINER -->
                                                <div class="record-info-grid-container-order-summary text-start">
                                                    <h6 class="roboto-mono-font ms-2">{{ record.record.title }}</h6>
                                                    <p class="roboto-mono-font mb-0 ms-2 cart-card-artist-info">{{ record.record.artist }}</p>
                                                    <p class="roboto-mono-font mb-0 ms-2 cart-card-qty-info">
                                                        <small class="text-muted">Quantity: {{ record.quantity }}</small>
                                                    </p>
                                                    <p class="roboto-mono-font mb-0 ms-2 cart-card-price-info">
                                                        <small class="text-muted">Price per unit: £{{ record.record.price }}</small>
                                                    </p>
                                                </div>
                                                <!-- UPDATE CART FORM GRID CONTAINER -->
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="col-12 col-md-10 offset-md-1 offset-lg-0 col-lg-7 text-center">
            <div class="row">
                <div class="col wax-crate-grey-font wax-crate-navy-bg">
                    <h1 class="major-mono text-lowercase mt-2">Checkout</h1>
                    <div class="col wax-crate-grey-font wax-crate-navy-bg">
                        <div class="accordion mb-2 d-lg-none" id="orderSummaryAccordion">
                            <div class="accordion-item order-summary-accordion-item">
                                <h2 class="accordion-header" id="orderSummaryAccordionHeader">
                                    <button
                                        class="accordion-button rounded-0 collapsed roboto-mono-font wax-crate-pink-bg wax-crate-grey-font"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#orderSummaryAccordionBody"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                        View your order summary
                                    </button>
                                </h2>
                                <div id="orderSummaryAccordionBody" class="accordion-collapse collapse order-summary-accordion"
                                    aria-labelledby="headingTwo" data-bs-parent="#orderSummaryAccordionBody">
                                    <div class="accordion-body text-left roboto-mono-font mobile-accordion-body-text">
                                        {% for record in records_in_cart %}
                                            <div class="card cart-card rounded-0 mb-1">
                                                <div class="row g-0">
                                                    <div class="card-grid-parent">
                                                        <!-- IMAGE GRID CONTAINER -->
                                                        <div class="cart-image-grid-container align-items-center d-flex">
                                                            <img class="img-fluid rounded-0 my-auto" src="{{ record.record.image.url }}"
                                                                alt="{{ record.title }}">
                                                        </div>
                                                        <!-- RECORD INFO GRID CONTAINER -->
                                                        <div class="record-info-grid-container-order-summary text-dark text-start">
                                                            <h6 class="roboto-mono-font mb-0 ms-2">{{ record.record.title }}</h6>
                                                            <p class="roboto-mono-font mb-0 ms-2 cart-card-artist-info">{{ record.record.artist }}</p>
                                                            <p class="roboto-mono-font mb-0 ms-2 cart-card-qty-info">
                                                                <small class="text-muted">Quantity: {{ record.quantity }}</small>
                                                            </p>
                                                            <p class="roboto-mono-font mb-0 ms-2 cart-card-price-info">
                                                                <small class="text-muted">Price per unit: £{{ record.record.price }}</small>
                                                            </p>
                                                        </div>
                                                        <!-- UPDATE CART FORM GRID CONTAINER -->
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1 text-start">
                    <!-- SMALL SCREEN ORDER SUMMARY ACCORDION -->
                    <div class="my-auto">
                        <div id="form-loading">
                            <h1 class="disc-spin">
                                <i class="fa-solid fa-compact-disc fa-spin"></i>
                            </h1>
                        </div>
                        <p class="text-muted roboto-bold mt-3">
                            Please fill out the form below to checkout and finalise your order.
                        </p>
                        <form action="{% url 'checkout' %}" method="POST" id="checkout-form" class="my-auto">
                            {% csrf_token %}
                            <fieldset class="mb-3">
                                <legend class="major-mono text-lowercase">
                                    Your Contact Information
                                </legend>
                                {{ checkout_form.customer_full_name | as_crispy_field }}
                                {{ checkout_form.customer_email | as_crispy_field }}
                            </fieldset>
                            <fieldset class="mt-5 mb-3">
                                <legend class="major-mono text-lowercase">
                                    Your Delivery Details
                                </legend>
                                {{ checkout_form.customer_street_address1 | as_crispy_field }}
                                {{ checkout_form.customer_street_address2  | as_crispy_field }}
                                <div class="d-sm-block d-md-flex justify-content-center">
                                    {{ checkout_form.customer_town_or_city | as_crispy_field }}
                                    {{ checkout_form.customer_postcode | as_crispy_field }}
                                    {{ checkout_form.customer_county | as_crispy_field }}
                                </div>
                            </fieldset>
                            <fieldset class="mt-5 mb-3">
                                <legend class="major-mono text-lowercase">
                                    Your Payment Information
                                </legend>
                                <!-- STRIPE CARD ELEMENT -->
                                <div class="custom-checkout-form stripe-element-custom" id="card-element">
                                    
                                </div>
                                <!-- STRIPE ERRORS WILL BE DISPLAYED IN THIS DIV -->
                                <div class="roboto-bold wax-crate-red-font mt-2" id="card-errors" role="alert">
                                    
                                </div>
                                <input type="hidden" value="{{ client_secret }}" name="client_secret">
                            </fieldset>
                            {% if user.is_authenticated %}
                                <label for="save-info" class="roboto-mono-font">Click this box to save this information to your account:</label>
                                <input type="checkbox" name="save-info" id="save-info" class="form-check-input rounded-0 ms-2">
                            {% else %}
                                <label for="save-info" class="roboto-mono-font">
                                    <a class="roboto-bold wax-crate-navy-font hvr-float" href="{% url 'account_signup' %}">Register</a> for an account or
                                    <a class="roboto-bold wax-crate-navy-font hvr-float" href="{% url 'account_login' %}">Sign In</a> to save this information.
                                </label>
                            {% endif %}
                            <p class="roboto-bold mt-3 wax-crate-navy-bg wax-crate-grey-font ps-2">You will be charged £{{ order_total|floatformat:2 }} for this order.</p>
                            <div class="d-flex justify-content-end mt-3 mb-3">
                                <a href="{% url 'show_cart' %}"
                                    class="roboto-mono-font mt-2 btn alt-cta-button rounded-0 hvr-float text-decoration-none wax-crate-navy-font">
                                    <i class="fas fa-cart-shopping"></i> Back to cart
                                </a>
                                <button id="checkout-submit" class="dark-cta-button btn rounded-0 mt-2 roboto-mono-font hvr-grow-shadow ms-2">
                                    <i class="fa-solid fa-circle-check"></i> Place Order
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}

{% block postload_js %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_element.js' %}"></script>
{% endblock %}