{% extends 'base.html' %}
{% load static %}

{% block extra_title %}- Backoffice{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Record form section -->
        <section class="col-12 col-md-6">
            <div class="row text-center">
                <div class="col wax-crate-grey-font wax-crate-navy-bg">
                    <h1 class="major-mono text-lowercase mt-2">Add a record</h1>
                </div>
            </div>
            <div class="row text-start add-record-bg">
                <p class="roboto-bold mt-2">
                    You can use the form below to add new records to the store. Please adhere to
                    the guidelines within the form to preserve the layout of the store.
                </p>
                <form action="{% url 'add_record' %}" method="POST" class="text-sm-center text-md-start" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="mb-3">
                        <legend class="roboto-bold">
                            Record Details
                        </legend>
                        <div>{{ add_record_form.genre | as_crispy_field }}</div>
                        <div>{{ add_record_form.image | as_crispy_field }}</div>
                        <p class="roboto-mono-font record-form-font">Images must be at least 287 by 287px and no more than 100kb in size.
                            Please use this <a href="https://resizeimage.net/" target="_blank">image compressor and resizer</a> to amend
                            any record images inline with the guidelines. Please also ensure that images file names are formatted as follows:
                            artistname-record-title-split-with-dashes-all-in-lowercase.
                        </p>
                        <div class="d-block d-md-flex justify-content-between flex-wrap">
                            <div>{{ add_record_form.title | as_crispy_field }}</div>
                            <div>{{ add_record_form.artist | as_crispy_field }}</div>
                            <div>{{ add_record_form.record_label | as_crispy_field }}</div>
                            <div>{{ add_record_form.release_year | as_crispy_field }}</div>
                            <div>{{ add_record_form.condition | as_crispy_field }}</div>
                        </div>
                        <div>{{ add_record_form.tracklist | as_crispy_field }}</div>
                    </fieldset>
                    <fieldset class="mb-3">
                        <legend class="roboto-bold">
                            Wax Crate Record Information
                        </legend>
                        <div class="d-block d-md-flex justify-content-between flex-wrap align-items-center">
                            <div>{{ add_record_form.price | as_crispy_field }}</div>
                            <div class="text-start">{{ add_record_form.hot_pick | as_crispy_field }}</div>
                            <div class="text-start">{{ add_record_form.has_link | as_crispy_field }}</div>
                            <div>{{ add_record_form.link_to_music | as_crispy_field }}</div>
                            <p class="roboto-mono-font">
                                Please use the share album link from the media on spotify in the link to music field.
                            </p>
                        </div>
                        <div class="text-start">{{ add_record_form.description | as_crispy_field }}</div>
                        
                    </fieldset>
                    <div class="d-flex justify-content-between mb-3">
                        <button class="alt-cta-button btn rounded-0 mt-2 roboto-mono-font hvr-float" type="reset">
                            <i class="fa-solid fa-delete-left"></i> Reset Form
                        </button>
                        <button class="dark-cta-button btn btn-large rounded-0 mt-2 roboto-mono-font hvr-grow-shadow" type="submit">
                            <i class="fa-solid fa-circle-check"></i> Add Record
                        </button>
                    </div>
                </form>
            </div>
        </section>
        <!-- ADD RECORD HERO IMAGE -->
        <section class="col-12 col-md-6 add-genre-bg">
            <div class="row text-center">
                <div class="col wax-crate-grey-font wax-crate-pink-bg">
                    <h1 class="major-mono text-lowercase mt-2">Genre Management</h1>
                </div>
            </div>
            <div class="row text-start">
                <p class="roboto-bold mt-2">
                    If you need to add a record where the genre does not already exist, you can use the form below to add the genre.
                </p>
                <form action="{% url 'add_genre' %}" method="POST" class="text-start">
                    {% csrf_token %}
                    <fieldset class="mb-3">
                        <legend class="roboto-bold">
                            Add Genre
                        </legend>
                        <div>{{ add_genre_form.genre | as_crispy_field }}</div>
                    <div class="d-flex justify-content-between mb-3">
                        <button class="dark-cta-button btn btn-large rounded-0 mt-2 roboto-mono-font hvr-grow-shadow" type="submit">
                            <i class="fa-solid fa-circle-check"></i> Add Genre
                        </button>
                    </div>
                </form>
                <h4 class="roboto-bold">Manage Existing Genres</h4>
                <p class="roboto-mono-font">You should only ever remove a genre if there are no records left in the store under that genre.
                    Removing genres when records exist under that genre will set the records genre to null and will
                    be inaccessible via the genre filter.
                </p>
                <div class="genre-card-container">
                    {% for genre in genres %}
                        <div class="card mb-2 text-start">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <h3 class="roboto-bold">
                                    {{ genre }}
                                </h3>
                                <button type="button" class="wax-crate-red-bg wax-crate-grey-font roboto-mono-font btn btn-sm hvr-grow rounded-0 delete-genre-btn" data-toggle="modal" data-target="#delete-genre-{{ genre.id }}">
                                    <i class="fa-solid fa-trash-can"></i> Delete
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</div>
{% for genre in genres %}
    <div class="modal fade" id="delete-genre-{{genre.id}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content roboto-mono-font">
                <div class="modal-header wax-crate-navy-bg wax-crate-grey-font">
                    <h5 class="modal-title">Delete "{{ genre.genre }}"?</h5>
                    <button type="button" class="modal-close wax-crate-navy-bg wax-crate-grey-font" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete:</p>
                    <div class="d-flex">
                        <div class="text-dark text-start">
                            <h4 class="roboto-mono-font mb-3"><strong>{{ genre.genre }}</strong></h4>
                            <p class="roboto-mono-font mb-1">Doing this could affect the integrity of the store.</p>
                            <p class="roboto-mono-font mb-1">Please make sure that no records remain on the database under this genre.</p>
                        </div>
                    </div>
                    <div class="text-center mt-2">
                        <h3>This cannot be undone!</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="card-link wax-crate-grey-font roboto-mono-font btn btn-sm hvr-grow rounded-0 wax-crate-pink-bg modal-button" data-dismiss="modal">Cancel</button>
                    <a href="{% url 'delete_genre' genre.id %}" class="wax-crate-grey-font wax-crate-red-bg roboto-mono-font btn btn-sm hvr-grow rounded-0 modal-button"><i class="fa-solid fa-trash-can"></i> Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}

{% block postload_js %}
    {{ block.super }}
    <script>
        $(document).ready(function(){
            // Apply site font to labels once rendered.
            $('label').addClass('roboto-mono-font');
            // Remove troublesome form class from checkboxes
            $('#id_hot_pick, #id_has_link').removeClass('record-form-field');
            // Add digit regex pattern to release year field post render.
            /*Thanks to r92 for the regex pattern here on this stack overflow thread
            https://stackoverflow.com/questions/4374185/regular-expression-match-to-test-for-a-valid-year*/
            $('#id_release_year').attr('pattern', '^(19|20)\\d{2}$')
            // Remove duplicate ids from DOM due to forms sitting side by side.
            /* Thanks to Spencer Wieczorek here on this Stack overflow thread:
            https://stackoverflow.com/questions/39539967/make-duplicate-ids-unique-using-jquery */
            $("div[id='div_id_genre']").each(function(i){
                $(this).attr('id', $(this).attr('id') + i);
            });
        });
    </script>
{% endblock %}