{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <!-- EDIT FORM SECTION -->
            <section class="col-12 col-md-12 col-lg-6">
                <div class="row text-center">
                    <div class="col wax-crate-grey-font wax-crate-navy-bg">
                        <h1 class="major-mono text-lowercase mt-2">Edit Record</h1>
                        <a href="{% url 'records' %}" class="roboto-mono-font mb-2 btn alt-cta-button rounded-0 hvr-grow text-decoration-none wax-crate-navy-font"><i
                            class="fa-solid fa-compact-disc"></i> Back to shop
                </a>
                    </div>
                </div>
                <div class="row text-start add-record-bg">
                    <p class="roboto-bold mt-2">
                        You can use the form below to edit the selected record. Please adhere to
                        the guidelines within the form to preserve the layout of the store.
                    </p>
                    <form action="{% url 'edit_record' record.id %}" method="POST" class="text-sm-center text-md-start" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="mb-3">
                            <legend class="roboto-bold">
                                Record Details
                            </legend>
                            <div>{{ edit_record_form.genre | as_crispy_field }}</div>
                            <div>{{ edit_record_form.image | as_crispy_field }}</div>
                            <p class="roboto-mono-font record-form-font">Images must be at least 287 by 287px and no more than 100kb in size.
                                Please use this <a href="https://resizeimage.net/" target="_blank">image compressor and resizer</a> to amend
                                any record images inline with the guidelines. Please also ensure that images file names are formatted as follows:
                                artistname-record-title-split-with-dashes-all-in-lowercase.
                            </p>
                            <div class="d-block d-md-flex justify-content-between flex-wrap">
                                <div>{{ edit_record_form.title | as_crispy_field }}</div>
                                <div>{{ edit_record_form.artist | as_crispy_field }}</div>
                                <div>{{ edit_record_form.record_label | as_crispy_field }}</div>
                                <div>{{ edit_record_form.release_year | as_crispy_field }}</div>
                                <div>{{ edit_record_form.condition | as_crispy_field }}</div>
                            </div>
                            <div>{{ edit_record_form.tracklist | as_crispy_field }}</div>
                        </fieldset>
                        <fieldset class="mb-3">
                            <legend class="roboto-bold">
                                Wax Crate Record Information
                            </legend>
                            <div class="d-block d-md-flex justify-content-between flex-wrap align-items-center">
                                <div>{{ edit_record_form.price | as_crispy_field }}</div>
                                <div class="text-start">{{ edit_record_form.hot_pick | as_crispy_field }}</div>
                                <div class="text-start">{{ edit_record_form.has_link | as_crispy_field }}</div>
                                <div>{{ edit_record_form.link_to_music | as_crispy_field }}</div>
                                <p class="roboto-mono-font">
                                    Please use the share album link from the media on spotify in the link to music field.
                                </p>
                            </div>
                            <div class="text-start">{{ edit_record_form.description | as_crispy_field }}</div>
                            
                        </fieldset>
                        <div class="d-flex justify-content-between mb-3">
                            <button class="dark-cta-button btn btn-large rounded-0 mt-2 roboto-mono-font hvr-grow-shadow" type="submit">
                                <i class="fa-solid fa-circle-check"></i> Update Record
                            </button>
                        </div>
                    </form>
                </div>
            </section>
            <!-- HERO IMAGE CONTAINER -->
            <div class="d-none d-lg-block col-lg-6 edit-hero-image">  
            </div>
        </div>
    </div>
{% endblock %}

{% block postload_js %}
    {{ block.super }}
    <script>
        $(document).ready(function(){
            // Apply site font to labels once rendered.
            $('label').addClass('roboto-mono-font')
            // Remove troublesome form class from checkboxes
            $('#id_hot_pick, #id_has_link').removeClass('record-form-field')
        });
    </script>
{% endblock %}