{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-lg">
    <!-- RECORD INFORMATION ROW -->
    <div class="row">
        <div class="col-12 col-md-12 col-lg-5 mt-3">
            <!-- RECORD INFORMATION HEADER CONTAINER -->
            <div>
                <header>
                    <h5 class="roboto-mono-font text-center mb-2"><strong>{{ record.title }}</strong></h5>
                    <h6 class="roboto-mono-font text-center"><em>{{ record.artist }}</em></h6>
                </header>
                <!-- RECORD LABEL AND CONDITION CONTAINER -->
                <section class="d-flex justify-content-between">
                    <div class="roboto-mono-font">
                        <p><strong>Label:</strong> {{ record.record_label }}</p>
                    </div>
                    <div class="roboto-mono-font">
                        <p><strong>Condition:</strong> {{ record.condition }}</p>
                    </div>
                </section>
            </div>
            <!-- RECORD IMAGE CONTAINER -->
            <div class="img-container">
                {% if record.image %}
                <a href="{{ record.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid rounded-0" src="{{ record.image.url }}"
                        alt="{{ record.title }} cover art">
                </a>
                {% else %}
                <a href="{% url 'show_record_details' record.slug %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no-image-available.jpg"
                        alt="No image available">
                </a>
                {% endif %}
            </div>
            <!-- PRICE & RELEASE YEAR CONTAINER -->
            <section class="d-flex justify-content-between mt-2">
                <div class="roboto-mono-font">
                    <p class="mb-0"><strong>Price:</strong> £{{ record.price }}</p>
                </div>
                <div class="roboto-mono-font">
                    <p class="mb-0"><strong>Release Year:</strong> {{ record.release_year }}</p>
                </div>
            </section>
            <!-- GENRE & HOT PICK CONTAINER -->
            <div class="d-flex justify-content-between mt-2">
                <div class="roboto-mono-font">
                    <p class="mb-2"><strong>Genre:</strong> {{ record.genre }}</p>
                </div>
                {% if record.hot_pick %}
                <div class="roboto-mono-font">
                    <p class="mb-2"><i class="fa-solid fa-fire-flame-curved"></i> Wax Crate Hot Pick!</p>
                </div>
                {% endif %}
            </div>
            <!-- CART & QTY CONTAINER -->
            <!-- <div class="d-flex justify-content-between mb-4"> -->
                <form action="{% url 'add_record_to_cart' record.id %}" method="post">
                    {% csrf_token %}
                    <div class="d-flex justify-content-between mb-4">
                        <div class="d-inline-flex input-group my-auto">
                            <p class="roboto-bold my-auto">Qty:</p>
                            <div class="input-group-prepend ms-1">
                                <button class="reduce-qty btn rounded-0 dark-cta-button" data-record_id="{{ record.id }}" id="decrease-qty-{{ record.id }}">
                                    <i class="fa-solid fa-square-caret-down"></i>
                                </button>
                            </div>
                            <input class="qty-control d-inline roboto-mono-font text-center" type="number" name="quantity" value="1" min="1" max="10" data-record_id="{{ record.id }}" id="id_qty_{{ record.id }}">
                            <div class="input-group-append">
                                <button class="increase-qty btn rounded-0 dark-cta-button" data-record_id="{{ record.id }}" id="increase-qty-{{ record.id }}">
                                    <i class="fa-solid fa-square-caret-up"></i>
                                </button>
                            </div>
                        </div>
                        <div class="align-items-end">
                            <button type="submit" class="hvr-grow-shadow roboto-mono-font btn btn-sm rounded-0 add-cart-btn add-cart-btn-larger"><i
                                class="fas fa-cart-shopping"></i> Add to cart</button>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                    
                </form>
            <!-- </div> -->
            <!-- MOBILE LISTEN, TRACKLIST & DESCRIPTION SECTION -->
            <section class="mt-3 d-lg-none">
                {% if record.has_link %}
                <a class="listen-button btn btn-large dark-cta-button hvr-grow rounded-0 w-100 roboto-mono-font mb-2"
                    href="{{ record.link_to_music }}" target="_blank"><i class="fa-solid fa-headphones"></i> Click here to listen!</a>
                {% else %}
                <h6 class="text-muted roboto-mono-font text-center mb-2"><i class="fa-solid fa-xmark"></i> Sorry, it
                    looks like we couldnt find a link to a digital version :(</h6>
                {% endif %}
                <div class="accordion mb-2" id="tracklistDescListenAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="tracklistAccordionHeader">
                            <button
                                class="accordion-button rounded-0 collapsed roboto-mono-font wax-crate-navy-bg wax-crate-grey-font white-border-bottom-seperator"
                                type="button" data-bs-toggle="collapse" data-bs-target="#tracklistAccordionBody"
                                aria-expanded="false" aria-controls="collapseTwo">
                                Tracklist
                            </button>
                        </h2>
                        <div id="tracklistAccordionBody" class="accordion-collapse collapse"
                            aria-labelledby="headingTwo" data-bs-parent="#tracklistDescListenAccordion">
                            <div class="accordion-body text-left roboto-mono-font mobile-accordion-body-text">
                                {{ record.tracklist | safe }}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="descriptionHeader">
                            <button
                                class="accordion-button rounded-0 collapsed accordion-button collapsed roboto-mono-font wax-crate-navy-bg wax-crate-grey-font"
                                type="button" data-bs-toggle="collapse" data-bs-target="#descriptionBody"
                                aria-expanded="false" aria-controls="collapseThree">
                                Description
                            </button>
                        </h2>
                        <div id="descriptionBody" class="accordion-collapse collapse"
                            aria-labelledby="descriptionHeader" data-bs-parent="#tracklistDescListenAccordion">
                            <div class="accordion-body text-center roboto-mono-font mobile-accordion-body-text">
                                {{ record.description | safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- LARGER SCREEN DESCRIPTION, LISTEN LINK & TRACKLIST -->
        <div class="d-none d-lg-block offset-lg-1 col-lg-6">
            <div class="large-screen-content-pushdown d-flex align-items-center">
                {% if record.has_link %}
                <a class="listen-button btn btn-large dark-cta-button hvr-grow-shadow rounded-0 w-100 roboto-mono-font mb-2"
                    href="{{ record.link_to_music }}" target="_blank"><i class="fa-solid fa-headphones"></i> Click here
                    to listen!</a>
                {% else %}
                <h4 class="text-muted roboto-mono-font text-center mb-2"><i class="fa-solid fa-xmark"></i> Sorry, it
                    looks like we couldnt find a link to a digital version :(</h4>
                {% endif %}
            </div>
            <h2 class="major-mono large-screen-heading-bottom-border">Tracklist</h2>
            <div class="tracklist-container roboto-mono-font mb-4 nano">
                <div class="nano-content">
                    {{ record.tracklist | safe }}
                </div>
            </div>
            <h2 class="major-mono large-screen-heading-bottom-border">Description</h2>
            <div class="description-container roboto-mono-font">
                {{ record.description | safe }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postload_js %}
    {{ block.super }}
    {% include 'records/includes/qty-input-script.html' %}
{% endblock %}