/* MAJOR MONO FONT IMPORTED FROM GOOGLE FONTS */
/* FONT RULES - font-family: 'Major Mono Display', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

/* ROBOTO MONO FONT IMPORTED FROM GOOGLE FONTS */
/* FONT RULES - font-family: 'Roboto Mono', monospace;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300;1,400&display=swap');

/* FONT HELPER CLASSES */
.major-mono {
    font-family: 'Major Mono Display', monospace;
}

.roboto-light {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

.roboto-mono-font {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

.roboto-semi-bold {
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
}

.roboto-bold {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}
/* END FONT HELPER CLASSES */

/* ------------------------------------------------------------------------------------ */

/* COLOR HELPER CLASSES */


/* END COLOR HELPER CLASSES */

/* ----------------------------------------------------------------------------------- */

/* BOOTSTRAP OVERRIDES */

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navbar-toggler {
    margin-left: 0.7rem;
}

.navbar-nav .nav-link {
    padding-left: 1rem;
}

.search-form {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* END BOOTSTRAP OVERRIDES */

/* ------------------------------------------------------- */

/* CUSTOM CSS ---------------------------------------------- */

/* BASE.HTML CUSTOM STYLES */

.logo {
    font-size: 2rem;
}

footer {
    min-height: 180px;
    background-color: darkslategray;
}

.facebook-section {
    height: 100px;
    background-color: white;
}

.mailchimp-section {
    height: 100px;
    background-color: white;
}


#mc_embed_signup {
    background: #fff;
    clear: left;
    font-family: 'Roboto-Mono', monospace;
}

                        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */













.home-hero-image {
    background-image: url('/media/home-page-hero-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    height: calc(100vh - 200px);
}









/* MEDIA QUERIES */

@media only screen and (min-width: 600px)  {
    .logo {
        margin-left: 1rem;
    }
}