/* MAJOR MONO FONT IMPORTED FROM GOOGLE FONTS */
/* FONT RULES - font-family: 'Major Mono Display', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

/* ROBOTO MONO FONT IMPORTED FROM GOOGLE FONTS */
/* FONT RULES - font-family: 'Roboto Mono', monospace;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300;1,400&display=swap');

/* FONT HELPER CLASSES */
.major-mono {
    font-family: 'Major Mono Display', monospace;
}

.roboto-light {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

.roboto-mono-font {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

.roboto-semi-bold {
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
}

.roboto-bold {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}
/* END FONT HELPER CLASSES */

/* PAGE LAYOUT HELPER STYLES */

#page-container {
    position: relative;
    min-height: calc(100vh - 180px);
}

#content-wrap {
    padding-bottom: 100px;    /* Footer height */
}
  
footer {
    height: 180px;
    background-color: #4d4b6e;
}

/* END PAGE LAYOUT STYLES*/

/* ------------------------------------------------------------------------------------ */

/* COLOR HELPER CLASSES */

.wax-crate-navy-bg {
    background-color: #262533;
}

.wax-crate-navy-font {
    color: #262533;
}

.wax-crate-purple-bg {
    background-color: #4d4b6e;
}

.wax-crate-purple-font {
    color: #4d4b6e;
}

.wax-crate-red-bg {
    background-color: #a13b2c;
}

.wax-crate-red-font {
    color: #a13b2c;
}

.wax-crate-pink-bg {
    background-color: #A35A6F;
}

.wax-crate-grey-bg {
    background-color: #f8f9fa;
}

.wax-crate-grey-font {
    color: #f8f9fa;
}

.white-border-bottom-seperator {
    border-bottom: 1px solid #fff;
}

/* END COLOR HELPER CLASSES */

/* ----------------------------------------------------------------------------------- */

/* BOOTSTRAP OVERRIDES */

.navbar {
    border-bottom: 1px solid #262533;
    z-index: 9999999;
}

.navbar-nav .nav-link {
    padding-left: 1rem;
}

.search-form {
    margin-left: 1rem;
    margin-right: 1rem;
}

.form-control {
    border: none;
}

.list-group-item {
    background-color: #262533;
    color: #f8f9fa
}

.card-link+.card-link {
    margin-left: 0;
}

/* Thanks to harm manders on this stack overflow thread, I copied in the override
and changed the fill attribute so that the colour was consistent 
https://stackoverflow.com/questions/66335238/changing-the-color-arrow-in-bootstrap*/
.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f8f9fa'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button:not(.collapsed) {
    color: #f8f9fa;
    background-color: #4d4b6e;
}

.accordion-button:not(.collapsed) {
    color: #f8f9fa;
    background-color: #4d4b6e;
}

.input-group {
    width: 60%;
}

.edit-qty-button,
.delete-from-bag-button {
    font-size: 0.5rem;
}

.delete-from-bag-button {
    background-color: #a13b2c!important;
}

.toast {
    width: 300px;
    /* display: block!important; */
}

.custom-toast-close {
    border: none;
}

.form-control:focus {
    border: none;
    box-shadow: 0 0 0 0.10rem #A35A6F;
}

.form-check-input {
    border: 1px solid black;
}

.form-check-input:checked {
    background-color: #262533;
    border-color: #262533;
}

.form-check-input:focus {
    box-shadow: none;
}

/* END BOOTSTRAP OVERRIDES */

/* ------------------------------------------------------- */

/* CUSTOM CSS ---------------------------------------------- */

/* BASE.HTML CUSTOM STYLES */

.logo {
    font-size: 2rem;
}

.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.cart-link {
    color: #262533;
}

.search-form-custom {
    border-bottom: 1px solid #000!important;
    background-color: #f8f9fa;
}

.home-hero-image {
    background-image: url('/media/home-page-hero-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    height: calc(100vh - 200px);
}

.company-info {
    width: 90%;
    margin: 0 auto;
}

.remove-padding {
    padding: 0!important;
}

.dark-cta-button {
    background-color: #262533;
    color: #fff;
}

.dark-cta-button:hover {
    background-color: #4d4b6e;
    color: #fff;
}

.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

footer {
    min-height: 180px;
    background-color: #4d4b6e;
}

.facebook-section {
    height: 100px;
}

.mailchimp-section {
    height: 100px;
    background-color: white;
}


#mc_embed_signup label {
    font-weight: 400!important;
}

#mc_embed_signup {
    background: #4d4b6e;
    clear: left;
    font-family: 'Roboto-Mono', monospace;
}

#mc_embed_signup input.email {
    font-family: 'Roboto Mono', monospace!important;
}

#mce-EMAIL {
    background-color: #4d4b6e;
    border-radius: 0px!important;
    color: #f8f9fa;
    border-top: none!important;
    border-right: none!important;
    border-top: 1px solid #f8f9fa;
    border-left: none!important;
}

#mc_embed_signup input.email::placeholder {
    font-family: 'Roboto Mono', monospace!important;
    color: #f8f9fa!important;
}

#mc_embed_signup .button {
    background-color: #A35A6F!important;
    font-family: 'Roboto Mono', monospace!important;
}

.footer-holddown {
    min-height: 90vh;
}

.message-container {
    position: fixed;
    top: 100px;
    right: 10px;
    z-index: 888888;
}


/* ------------------------------------------------- */

/* RECORDS PAGE STYLES */

.record-card {
    -webkit-box-shadow: 14px 14px 11px -6px rgba(0,0,0,0.39); 
    box-shadow: 14px 14px 11px -6px rgba(0,0,0,0.39);
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-right: none;
    padding-left: 0;
    padding-right: 0;
}

.card-body-custom{
    flex: 1 1 auto;
    padding: 1rem 1rem;
    background-color: #4d4b6e;
    color: #f8f9fa;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.music-title {
    min-height: 48px;
}

.artist-title {
    min-height: 42px;
}

.more-info-btn {
    background-color: #DDEBEA;
}

.add-cart-btn {
    background-color: #262533;
    color: #f8f9fa;
}

.add-cart-btn:hover {
    background-color: #262533;
    color: #fff;
}

.breaker {
    background-color: #fff;
}

.record-sort-field {
    border-bottom: 1px solid #262533;
    border-right: none;
    border-left: none;
    border-top: none;
    cursor: pointer;
    padding-top: 0.375rem;
    padding-right: 0.75rem;
    padding-bottom: 0.375rem;
}

select.record-sort-field > option {
    cursor: pointer;
}

.all-records-page-link:hover {
    color: #262533;
}

.back-to-top-btn-container {
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #262533;
}

.record-form-field {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 35px;
    font-family: 'Roboto Mono', monospace;
    border: 1px solid black;
    border-radius: 0;
}

.admin-action-container {
    /* padding: 1rem 1rem; */
    background-color: #fff;
    text-align: center;
}

.edit-btn,
.delete-record-btn {
    width: 50%;
    color: #f8f9fa;
}

.delete-record-btn {
    background-color: #a13b2c;
}

.edit-btn,
.delete-record-btn:hover {
    color: #f8f9fa!important;
}

.modal-button:hover {
    color: #f8f9fa;
}


/* END RECORDS PAGE STYLING */

/* ----------------------------------------------------------- */

/* RECORD DETAIL PAGE STYLING */

.mobile-accordion-body-text {
    font-size: 0.8rem;
}

.large-screen-content-pushdown {
    height: 100px;
}

.large-screen-heading-bottom-border {
    border-bottom: 1px solid #262533;
}

.tracklist-container {
    height: 312px;
    overflow: auto;
}

.description-container {
    height: 170px;
    overflow: auto;
}

.qty-control {
    height: 38px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #262553;
}

.add-cart-btn-larger {
    height: 38px;
    width: 158px;
}

/* I got this code from the W3 schools article on removing the arrows from number inputs
https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* END RECORD DETAIL PAGE STYLING */

/* ------------------------------------------------------------------ */

/* CART PAGE STYLINGS */

.cart-items-container {
    height: 515px;
    overflow: auto;
}

.cart-hero-image {
    background-image: url('/media/cart-hero-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 90vh;
}

.cart-card {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #262533;
    padding-bottom: 5px;
}

.card-grid-parent {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.cart-image-grid-container { 
    grid-area: 1 / 1 / 2 / 2; 
}

.record-info-grid-container { 
    grid-area: 1 / 2 / 2 / 3; 
}

.update-cart-grid-column  { 
    grid-area: 1 / 3 / 2 / 4;
}

.update-cart-grid-parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.update-cart-grid-row-1 { 
    grid-area: 1 / 1 / 2 / 2; 
}

.update-cart-grid-row-2 { 
    grid-area: 2 / 1 / 3 / 2; 
}

.cart-line-image-container {
    width: 80px;
}

.cart-card-information {
    padding: 0rem 1rem;
}

.cart-card-artist-info,
.cart-card-qty-info,
.cart-card-price-info  {
    font-size: 0.7rem;
}

.cart-card-title-info, 
.cart-card-artist-info,
.cart-card-qty-info,
.cart-card-price-info  {
    margin-bottom: 0;
}

.input-group-cart {
    width: 100%;
}

.qty-control-cart {
    height: 31px;
    width: 37px;
}

.alt-cta-button {
    background-color: #A35A6F;
    color: #fff;
}

.alt-cta-button:hover {
    background-color: #5E405B;
    color: #fff;
}

/* END OF CART PAGE STYLINGS */

/* -------------------------------------------------------------------- */


/* ALL AUTH TEMPLATE STYLINGS */

.auth-hero-image {
    background-image: url('/media/account-hero-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 90vh;
}

.account-form-container {
    margin-top: 33%;
}

.account-info-p {
    margin-top: 4rem;
}

.account-login-field {
    width: 100%;
    border-radius: 0;
}

#id_login, #id_password,
#id_email, #id_email2,
#id_username, #id_password1,
#id_password2 {
    display: block;
    margin-top: 4rem;
    margin-bottom: 3rem;
    height: 40px;
    border-top: none;
    border-right: none;
    border-left: none;
    font-family: 'Roboto Mono';
    border-bottom: 1px solid black;
    border-radius: 0;
}

#id_remember {
    border-radius: none;
}

.form-check-input[type=checkbox] {
    border-radius: 0;
}

#id_email, #id_email2,
#id_username, #id_password1,
#id_password2 {
    display: block;
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: 40px;
    border-top: none;
    border-right: none;
    border-left: none;
    font-family: 'Roboto Mono';
    border-bottom: 1px solid black;
    border-radius: 0;
}

.verified, .unverified,
.primary, .registered-email {
    font-size: 0.7rem;
}

.red-cta-button {
    background-color: #a13b2c;
    color: #fff;
}

.red-cta-button:hover {
    background-color: #a13b2c;
    color: #fff;
}

.current-password {
    display: block;
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: 40px;
    border-top: none;
    border-right: none;
    border-left: none;
    font-family: 'Roboto Mono';
    border-bottom: 1px solid black;
    border-radius: 0;
}

/* END OF ALL AUTH TEMPLATE STYLING */

/* BACK OFFICE STYLINGS */

.add-record-bg {
    background-color: #4d4b6e45;
}

.add-genre-bg {
    background-color: #a35a6f67;
}

.record-form-font {
    font-size: x-small;
}

.genre-card-container {
    height: 500px;
    overflow: auto;
}

.delete-genre-btn {
    color: #f8f9fa;
}

/* END OF BACK OFFICE STYLINGS */

/* EDIT RECORD PAGE STYLINGS */

.edit-hero-image {
    background-image: url('/media/edit-page-hero-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    min-height: 90vh;
}

/* END OF EDIT RECORD PAGE STYLINGS */


/* MEDIA QUERIES */
@media only screen and (min-width: 600px)  {
    .logo {
        margin-left: 1rem;
    }
}