{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
{% endblock %}

{% block extra_title %}- Account{% endblock%}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <section class="col-12 col-md-10 offset-md-1 offset-lg-0 col-lg-5 text-center">
            <!-- HEADER ROW -->
            <div class="row">
                <div class="col wax-crate-grey-font wax-crate-navy-bg">
                    <h1 class="major-mono text-lowercase mt-2">Your Account</h1>
                    <div class="col-lg-7 remove-padding">
                        <!-- SMALLER SCREEN ORDER SUMMARY ACCORDION -->
                        <div class="accordion mb-2 d-block d-lg-none " id="orderHistorySmallAccordion">
                            <div class="accordion-item order-history-accordion-item">
                                <h2 class="accordion-header" id="orderHistorySmallAccordionHeader">
                                    <button
                                        class="accordion-button rounded-0 collapsed roboto-mono-font wax-crate-purple-bg wax-crate-grey-font"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#orderHistorySmallAccordionBody"
                                        aria-expanded="false" aria-controls="orderHistorySmallAccordionBody">
                                        <i class="fa-solid fa-clock-rotate-left fa-xl mr-3"></i><span class="ms-3">View your order history</span>
                                    </button>
                                </h2>
                                <div id="orderHistorySmallAccordionBody" class="accordion-collapse collapse order-summary-accordion"
                                    aria-labelledby="orderHistorySmallAccordionHeader" data-bs-parent="#orderHistorySmallAccordionHeader">
                                    <div class="accordion-body text-dark text-start roboto-mono-font mobile-accordion-body-text">
                                        <div class="accordion-body text-start text-dark roboto-mono-font mobile-accordion-body-text">
                                            {% for order in orders %}
                                                <div class="mobile-order-history-grid-parent">
                                                    <div class="mobile-order-num-container">
                                                        <p class="mb-1 text-decoration-underline roboto-bold">
                                                            Order#:
                                                        </p>
                                                        <div class="div">
                                                            <a class="d-block"href="{% url 'order_details' order.order_number %}" title="{{ order.order_number }}">
                                                                {{ order.order_number|truncatechars:8 }}
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="mobile-order-date-container">
                                                        <p class="mb-1 text-decoration-underline roboto-bold">
                                                            Date:
                                                        </p>
                                                        {{ order.order_date|date:'d/m/Y' }}
                                                    </div>
                                                    <div class="pt-2 mobile-order-lines-container">
                                                        <p class="mb-1 text-decoration-underline roboto-bold">
                                                            Records purchased:
                                                        </p>
                                                        <ul class="list-unstyled">
                                                            {% for record in order.order_lines.all %}
                                                                <li class="">{{ record.record.title }} / Qty:{{record.quantity}}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                    <div class="mobile-order-total-container ">
                                                        <p class="mb-1 text-decoration-underline roboto-bold">
                                                            Total:
                                                        </p>
                                                        £{{ order.order_total }}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FORM AND CONTENT ROW -->
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                    <p class="roboto-bold mt-5">You can use the form below to manage your account information.</p>
                    <form class="mt-2 text-start" action="{% url 'your_account' %}" method="POST" id="account-details-form">
                        {% csrf_token %}
                        {{ account_form|crispy }}
                        <button type="submit" class="mt-4 mb-4 dark-cta-button btn rounded-0 mt-2 roboto-mono-font hvr-grow-shadow">Update Account Information</button>
                    </form>
                    <h4 class="roboto-bold text-start">Manage your account details</h4>
                    <p class="roboto-mono-font text-start">You can manage your account details by using the links below:</p>
                    <div class="d-flex justify-content-around flex-wrap mb-4">
                        <a href="{% url 'account_email' %}" class="roboto-mono-font mt-2 btn alt-cta-button rounded-0 hvr-float text-decoration-none wax-crate-navy-font">
                            <i class="fa-solid fa-at"></i> Manage Email Addresses
                        </a>
                        <a href="{% url 'account_change_password' %}" class="roboto-mono-font mt-2 btn dark-cta-button rounded-0 hvr-float text-decoration-none wax-crate-navy-font">
                            <i class="fa-solid fa-lock"></i> Change Password
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- HERO IMAGE - DISPLAYS ON LARGER SCREENS ONLY -->
        <div class="d-none d-md-none d-lg-block col-lg-7 remove-padding">
            <div class="account-hero-image">
                <!-- LARGER SCREEN ORDER SUMMARY ACCORDION -->
                <div class="accordion mb-2 d-md-none d-lg-block" id="orderHistoryLargeAccordion">
                    <div class="accordion-item order-history-accordion-item">
                        <h2 class="accordion-header" id="orderHistoryLargeAccordionHeader">
                            <button
                                class="accordion-button rounded-0 collapsed roboto-mono-font wax-crate-purple-bg wax-crate-grey-font"
                                type="button" data-bs-toggle="collapse" data-bs-target="#orderHistoryLargeAccordionBody"
                                aria-expanded="false" aria-controls="orderHistoryLargeAccordionBody">
                                <i class="fa-solid fa-clock-rotate-left fa-xl mr-3"></i><span class="ms-3">View your order history</span>
                            </button>
                        </h2>
                        <div id="orderHistoryLargeAccordionBody" class="accordion-collapse collapse order-summary-accordion"
                            aria-labelledby="orderHistoryLargeAccordionHeader" data-bs-parent="#orderHistoryLargeAccordionHeader">
                            <div class="accordion-body text-center roboto-mono-font mobile-accordion-body-text">
                                <div class="order-history-heading-parent">
                                    <div class="order-number-heading-container roboto-bold text-decoration-underline">Order#</div>
                                    <div class="order-date-heading-container roboto-bold text-decoration-underline">Date</div>
                                    <div class="order-lines-heading-container roboto-bold text-decoration-underline">Records Purchased</div>
                                    <div class="order-total-heading-continer roboto-bold text-decoration-underline">Order total</div>
                                </div>
                                {% for order in orders %}
                                    <div class="order-history-data-parent">
                                        <div class="order-number-data-container roboto-mono-font text-decoration-underline d-flex align-items-center justify-content-center">
                                            <a class="wax-crate-purple-font" href="{% url 'order_details' order.order_number %}" title="{{ order.order_number }}">
                                                {{ order.order_number|truncatechars:8 }}
                                            </a>
                                        </div>
                                        <div class="order-date-data-container roboto-mono-font d-flex align-items-center justify-content-center">{{ order.order_date|date:'d/m/Y' }}</div>
                                        <div class="order-lines-data-container d-flex align-items-center justify-content-center roboto-mono-font">
                                            <ul class="list-unstyled mt-2 mb-2">
                                                {% for record in order.order_lines.all %}
                                                    <li class="">{{ record.record.title }} / Qty:{{record.quantity}}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="order-total-data-continer roboto-mono-font d-flex align-items-center justify-content-center">£{{ order.order_total }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}