{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block extra_title %}- Confirm Email{% endblock%}

{% block account_title %}Confirm Email{% endblock %}


{% block account_content %}
{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p class="account-info-p roboto-mono-font">{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}" class="wax-crate-navy-font">{{ email }}</a> is an e-mail address for user <strong>{{ user_display }}</strong>.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button class="btn roboto-mono-font dark-cta-button rounded-0 hvr-grow-shadow" type="submit">{% trans 'Confirm' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p class="account-info-p roboto-mono-font">{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}" class="wax-crate-navy-font">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}
