{% extends "account/base.html" %}

{% load i18n %}

{% block account_title %}Sign Out{% endblock %}

{% block account_content %}
<div class="laptop-height">
  <p class="roboto-bold account-info-p">{% trans 'Are you sure you want to sign out?' %}</p>

  <form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn dark-cta-button roboto-mono-font rounded-0 mt-4 hvr-grow-shadow" type="submit">{% trans 'Sign Out' %}</button>
  </form>
</div>
{% endblock %}
