{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block extra_title %}- Reset Password{% endblock%}

{% block account_title %}Reset Password{% endblock %}

{% block account_content %}
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="account-info-p roboto-mono-font">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset text-center">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn dark-cta-button roboto-mono-font rounded-0 mt-4 hvr-grow-shadow" aria-label="click this button to submit your password reset request" value="{% trans 'Reset My Password' %}" />
    </form>

    <p class="account-info-p roboto-bold">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}

{% block postload_js %}
  <script type="text/javascript">
    $(document).ready(function(){
      let labels = $('.requiredField')
      labels.addClass('d-none')

      $('#id_email').attr('aria-label', "Enter your email here to receive your password reset link")
    });
  </script>
{% endblock %}