{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}- Change Password{% endblock%}

{% block account_title %}Change your password{% endblock %}

{% block account_content %}
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change text-start mb-3">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn dark-cta-button roboto-mono-font rounded-0 mt-2 hvr-grow-shadow" type="submit" name="action">{% trans "Change Password" %}</button>
        <a class="alt-cta-button btn rounded-0 roboto-mono-font mt-2 hvr-float" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
{% endblock %}

{% block postload_js %}
  {{ block.super }}
  <script>
    $(document).ready(function(){
        let labels = $('.requiredField');
        labels.addClass('d-none');
        // Add aria-labels to rendered inputs for accessability purposes as form labels are hidden
        $('#id_oldpassword').attr('aria-label', "Enter your current password here.");
        $('#id_password1').attr('aria-label', "Enter your new password here");
        $('#id_password2').attr('aria-label', "Reconfirm your new password here.");
        
        $('#id_oldpassword').addClass("current-password roboto-mono-font mt-4");
    });
  </script>
{% endblock %}
