{% extends "account/base.html" %}

{% load i18n %}
{% block extra_title %}- Reset Password{% endblock%}

{% block account_title %}Reset Password{% endblock %}

{% block account_content %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="account-info-p roboto-mono-font">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{{ action_url }}" class="text-start">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn dark-cta-button roboto-mono-font rounded-0 mt-4 hvr-grow-shadow" type="submit" name="action" value="{% trans 'change password' %}"/>
        </form>
    {% endif %}
{% endblock %}

{% block postload_js %}
  <script type="text/javascript">
    $(document).ready(function(){
      let labels = $('.requiredField')
      labels.addClass('d-none')
    });
  </script>
{% endblock %}
