{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}- Register{% endblock%}

{% block account_title %}Register{% endblock %}

{% block account_content %}

<p class="account-info-p roboto-mono-font">{% blocktrans %}Already have an account? Then please <a class="wax-crate-navy-font" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup text-start" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn dark-cta-button roboto-mono-font rounded-0 mt-4 hvr-grow-shadow mb-4" type="submit">Register</button>
</form>

{% endblock %}

{% block postload_js %}
  <script type="text/javascript">
    $(document).ready(function(){
      let labels = $('.requiredField')
      labels.addClass('d-none')
    });
  </script>
{% endblock %}
