{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container-lg footer-holddown">
        <div class="row">
            <div class="col text-center">
                <h1 class="roboto-bold">
                    <i class="fas fa-exclamation-triangle fa-beat-fade mt-5"></i> Error 500!
                </h1>
                <h3 class="roboto-mono-font">
                    Its not you, its us (our server anyway).
                </h3>
                <a href="{% url 'records' %}" class="text-decoration-none mt-5">
                    <h4 class="roboto-bold wax-crate-purple-font hvr-grow mt-4">
                        Back to the shop <i class="fa-solid fa-record-vinyl"></i>
                    </h4>
                </a>
                
            </div>
        </div>
    </div>
{% endblock %}