<div class="toast rounded-1 border-top-0" data-autohide="true">
    <div class="toast-header wax-crate-purple-bg text-dark d-flex justify-content-between">
        <strong class="mr-auto wax-crate-grey-font roboto-mono-font"><i class="fa-solid fa-circle-check"></i> S'all good!</strong>
        <button type="button" class="ml-2 mb-1 close wax-crate-purple-bg wax-crate-grey-font custom-toast-close" id="close-toast" data-dismiss="toast" aria-label="Close">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <div class="toast-body bg-white roboto-mono-font">
        {{ message }}        
    </div>
</div>