<script type="text/javascript">

    function handleEnableDisable(recordId) {
        let currentQty = parseInt($(`#id_qty_${recordId}`).val());
        let disableReduceButton = currentQty < 2;
        let disableIncreaseButton = currentQty > 9;
        let decreaseButton = $(`#decrease-qty-${recordId}`);
        let increaseButton = $(`#increase-qty-${recordId}`)
        $(decreaseButton).prop('disabled', disableReduceButton);
        $(increaseButton).prop('disabled', disableIncreaseButton)
    };

    let allQtyControl = $('.qty-control');
    for(let i = 0; i < allQtyControl.length; i++){
        let recordId = $(allQtyControl[i]).data('record_id');
        handleEnableDisable(recordId);
    }

    $('.qty-control').change(function() {
        let recordId = $(this).data('record_id');
        handleEnableDisable(recordId);
    });

    // Increases the quantity in the quantity field.
    $('.increase-qty').click(function(e) {
        e.preventDefault();
        let closestInput = $(this).closest('.input-group').find('.qty-control')[0];
        let currentQty = parseInt($(closestInput).val());
        $(closestInput).val(currentQty + 1);
        let recordId = $(this).data('record_id');
        handleEnableDisable(recordId);
    });
    // Decreases the quantity in the quantity field.
    $('.reduce-qty').click(function(e) {
        e.preventDefault();
        let closestInput = $(this).closest('.input-group').find('.qty-control')[0];
        let currentQty = parseInt($(closestInput).val());
        $(closestInput).val(currentQty - 1);
        let recordId = $(this).data('record_id');
        handleEnableDisable(recordId);
    });
</script>