.account-hero-image {
    background-image: url('/media/account-hero-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 90vh;
}

.accordion-item {
    border: none;
}

.accordion-button {
    padding: 1.38rem;
}

.accordion-body {
    max-height: 450px;
    overflow: auto;
}

.custom-account-form {
    display: block;
    margin-top: 1rem;
    height: 40px;
    border-top: none;
    border-right: none;
    border-left: none;
    font-family: 'Roboto Mono';
    border-bottom: 1px solid black;
    border-radius: 0;
}
